@import typograpy
$fresh: #4abdac
$vermillion: #fc4a1a
$sunshine: #f7b733
$clean: #dfdce3

*
    transition: all 400ms
    font-family: 'Ubuntu', sans-serif

body
    display: grid
    grid-template-columns: 1fr 400px 400px 1fr
    grid-template-rows: auto auto auto auto
    grid-template-areas: ". header header ." ". main main ." ". sidebar sidebar ." ". footer footer ."
/* Cabeçalho */
header
    grid-area: header
    display: grid
    grid-template-columns: auto 1fr
    grid-template-rows: 150px 60px
    grid-template-areas: "tom dados" "bmp bmp"
    padding-top: 10px
    .tom
        grid-area: tom
        background-color: $sunshine
        width: 100px
        height: 100px
        border-radius: 50%
        margin: 20px
        padding: 10px
        color: #fff
        p
            text-align: center
            font-size: 1em
            strong
                color: #111
                font-family: 'Pacifico', cursive
                font-size: 2em
                color: #fff
                letter-spacing: 0.1em
    .dados-louvor
        grid-area: dados
        text-align: center
        h1
            font-family: 'Pacifico', cursive
            //letter-spacing: 0.1em
            margin-top: 5%
            margin-bottom: 0px
            color: $vermillion
        h3
            font-weight: 300
            margin-top: 0px

    .bmp
        grid-area: bmp
        text-align: right
        padding: 10px 5px
        strong
            font-size: 2em
            font-style: italic
            font-family: 'Pacifico', cursive
            color: $sunshine
/* Conteudo Principal */
main
    grid-area: main
    display: flex
    flex-direction: column
    .observacoes
        background-color: rgba($sunshine,0.2)
        padding: 10px
        ul
            li
                list-style: none
                strong
                    color: $vermillion
                    font-style: italic
    .andamento-da-musica
        display: flex
        justify-content: center
        ul      
            padding: 15px 0px 5px
            li
                list-style: none
                display: inline-block
                z-index: 5
                a
                    background-color: $sunshine
                    padding: 15px
                    margin: 0px 5px
                    text-decoration: none
                    color: #fff
                    &:hover
                        background-color: $vermillion
                    &.active
                        background-color: $vermillion
    .letra
        ul
            padding: 0px
            li
                display: flex
                list-style: none
                margin-bottom: 35px
                .instrumentos
                    width: 200px
                    ul
                        background-color: $sunshine
                        text-align: right
                        li
                            display: inline-block
                            margin: 0px
                            font-size: 2em
                .estrofe
                    border: 2px solid $clean
                    width: 600px
                    &.active
                        background-color: $vermillion
                        border: 1px solid $vermillion
                        color: #fff
                        .estrofe-nome
                            background-color: #fff
                            color: $vermillion
                        pre
                            b
                                color: #fff
                    .estrofe-nome
                        background-color: $fresh
                        float: right
                        width: 10px
                        padding: 10px
                        color: #fff
                    /* Indicador do Parte da Musica usado para escrever o andamento da musica. Exemplo: Parte A da Musica, Parte B da Musica. */
                    pre
                        padding: 10px 10%
                        b
                            color: $vermillion

aside
    grid-area: sidebar
    display: none
footer
    grid-area: footer
    text-align: center
    padding: 10px 0px
    width: 100%
    background-color: $sunshine
    .opcoes
        li
            list-style: none
            display: inline-block
            text-align: center
            a
                text-decoration: none
                color: #fff
                padding: 10px 15px
                
                &:hover
                    background-color: $vermillion
                    color: #fff
                    
@media screen and (max-width: 768px)
    body
        grid-template-columns: 100%
        grid-template-areas: "header" "main" "sidebar" "footer"
    header
        grid-template-columns: 1fr 1fr
        grid-template-rows: 150px 150px  
        grid-template-areas: "dados dados" "tom bmp"
        margin: 0px
        .tom
            border-radius: 0px
            margin-right: 0px
            margin: 10px 0px
            padding: 0px
            text-align: center
            width: 100%

        .bmp
            background-color: rgba($sunshine, 0.2)
            margin: 10px 0px
            padding: 0px
            text-align: center
            height: 100px
            width: 100%
    main
        display: flex
        .observacoes
            width: 100%
        .andamento-da-musica
        .letra
            ul
                li
                    display: grid
                    grid-template-columns: 100%
                    .instrumentos
                        width: 100%
                        ul
                            text-align: center
                    .estrofe
                        width: 100%
                        border: none
                        background-color: rgba($sunshine, 0.2)
                        pre
                            font-size: 1em
                            padding: 20px 10px 
                            width: 100%
                            white-space: pre-wrap
    footer
        .opcoes
            li
                display: flex
                margin: 10px
                justify-content: center
                            