@charset "UTF-8";
/* File to Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Pacifico|Ubuntu:300,300i,400,400i,500,500i,700,700i");
/* line 7, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
* {
  transition: all 400ms;
  font-family: 'Ubuntu', sans-serif;
}

/* line 11, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
body {
  display: grid;
  grid-template-columns: 1fr 400px 400px 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: ". header header ." ". main main ." ". sidebar sidebar ." ". footer footer .";
}

/* Cabeçalho */
/* line 17, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 150px 60px;
  grid-template-areas: "tom dados" "bmp bmp";
  padding-top: 10px;
}

/* line 24, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header .tom {
  grid-area: tom;
  background-color: #f7b733;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  padding: 10px;
  color: #fff;
}

/* line 33, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header .tom p {
  text-align: center;
  font-size: 1em;
}

/* line 36, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header .tom p strong {
  color: #111;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #fff;
  letter-spacing: 0.1em;
}

/* line 42, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header .dados-louvor {
  grid-area: dados;
  text-align: center;
}

/* line 45, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header .dados-louvor h1 {
  font-family: 'Pacifico', cursive;
  margin-top: 5%;
  margin-bottom: 0px;
  color: #fc4a1a;
}

/* line 51, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header .dados-louvor h3 {
  font-weight: 300;
  margin-top: 0px;
}

/* line 55, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header .bmp {
  grid-area: bmp;
  text-align: right;
  padding: 10px 5px;
}

/* line 59, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header .bmp p {
  margin: 0px;
}

/* line 61, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
header .bmp p strong {
  font-size: 2em;
  font-style: italic;
  font-family: 'Pacifico', cursive;
  color: #f7b733;
}

/* Conteudo Principal */
/* line 67, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

/* line 71, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .observacoes {
  background-color: rgba(247, 183, 51, 0.2);
  padding: 10px;
}

/* line 75, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .observacoes ul li {
  list-style: none;
}

/* line 77, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .observacoes ul li strong {
  color: #fc4a1a;
  font-style: italic;
}

/* line 80, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .andamento-da-musica {
  display: flex;
  justify-content: center;
}

/* line 83, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .andamento-da-musica ul {
  padding: 15px 0px 5px;
}

/* line 85, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .andamento-da-musica ul li {
  list-style: none;
  display: inline-block;
  z-index: 5;
}

/* line 89, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .andamento-da-musica ul li a {
  background-color: #f7b733;
  padding: 15px;
  margin: 0px 5px;
  text-decoration: none;
  color: #fff;
}

/* line 95, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .andamento-da-musica ul li a:hover {
  background-color: #fc4a1a;
}

/* line 97, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .andamento-da-musica ul li a.active {
  background-color: #fc4a1a;
}

/* line 100, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul {
  padding: 0px;
}

/* line 102, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li {
  display: flex;
  list-style: none;
  margin-bottom: 35px;
}

/* line 106, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .instrumentos {
  width: 200px;
}

/* line 108, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .instrumentos ul {
  background-color: #f7b733;
  text-align: right;
}

/* line 111, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .instrumentos ul li {
  display: inline-block;
  margin: 0px;
  font-size: 2em;
}

/* line 115, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .estrofe {
  border: 2px solid #dfdce3;
  width: 600px;
  /* Indicador do Parte da Musica usado para escrever o andamento da musica. Exemplo: Parte A da Musica, Parte B da Musica. */
}

/* line 118, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .estrofe.active {
  background-color: #fc4a1a;
  border: 1px solid #fc4a1a;
  color: #fff;
}

/* line 122, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .estrofe.active .estrofe-nome {
  background-color: #fff;
  color: #fc4a1a;
}

/* line 126, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .estrofe.active pre b {
  color: #fff;
}

/* line 128, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .estrofe .estrofe-nome {
  background-color: #4abdac;
  float: right;
  width: 10px;
  padding: 10px;
  color: #fff;
}

/* line 135, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .estrofe pre {
  padding: 10px 10%;
}

/* line 137, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
main .letra ul li .estrofe pre b {
  color: #fc4a1a;
}

/* line 140, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
aside {
  grid-area: sidebar;
  display: none;
}

/* line 143, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
footer {
  grid-area: footer;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  background-color: #f7b733;
}

/* line 150, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
footer .opcoes li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

/* line 154, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
footer .opcoes li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
}

/* line 159, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
footer .opcoes li a:hover {
  background-color: #fc4a1a;
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* line 164, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  body {
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "sidebar" "footer";
  }
  /* line 167, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas: "dados dados" "tom bmp";
    margin: 0px;
  }
  /* line 172, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  header .tom {
    border-radius: 0px;
    margin-right: 0px;
    margin: 10px 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
  }
  /* line 180, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  header .bmp {
    background-color: rgba(247, 183, 51, 0.2);
    margin: 10px 0px;
    padding: 0px;
    text-align: center;
    height: 100px;
    width: 100%;
  }
  /* line 187, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  main {
    display: flex;
  }
  /* line 189, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  main .observacoes {
    width: 100%;
  }
  /* line 194, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  main .letra ul li {
    display: grid;
    grid-template-columns: 100%;
  }
  /* line 197, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  main .letra ul li .instrumentos {
    width: 100%;
  }
  /* line 199, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  main .letra ul li .instrumentos ul {
    text-align: center;
  }
  /* line 201, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  main .letra ul li .estrofe {
    width: 100%;
    border: none;
    background-color: rgba(247, 183, 51, 0.2);
  }
  /* line 205, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  main .letra ul li .estrofe pre {
    font-size: 1em;
    padding: 20px 10px;
    width: 100%;
    white-space: pre-wrap;
  }
  /* line 212, /Volumes/DADOS/Sistema de Organização/Pessoal/Projetos/Sistema Musical/Code/front/assets/sass/style.sass */
  footer .opcoes li {
    display: flex;
    margin: 10px;
    justify-content: center;
  }
}

/*# sourceMappingURL=../css/style.map */