@charset "UTF-8";
* {
  transition: background-color 400ms; }

body {
  display: grid;
  grid-template-columns: 1fr 400px 400px 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: ". header header ." ". main main ." ". sidebar sidebar ." ". footer footer ."; }

/* Cabeçalho */
header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 150px 60px;
  grid-template-areas: "tom dados" "bmp bmp";
  padding-top: 10px; }
  header .tom {
    grid-area: tom;
    background-color: #999;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    padding: 10px;
    font-size: 24px; }
    header .tom p {
      text-align: center; }
      header .tom p strong {
        color: #111; }
  header .dados-louvor {
    grid-area: dados;
    text-align: center; }
  header .bmp {
    grid-area: bmp;
    text-align: right;
    padding: 10px 5px; }
    header .bmp strong {
      font-size: 2em;
      font-style: italic; }

/* Conteudo Principal */
main {
  grid-area: main;
  display: flex;
  flex-direction: column; }
  main .observacoes {
    background-color: #ccc;
    padding: 10px; }
    main .observacoes ul li {
      list-style: none; }
  main .andamento-da-musica {
    display: flex;
    justify-content: center; }
    main .andamento-da-musica ul {
      padding: 15px 0px 5px; }
      main .andamento-da-musica ul li {
        list-style: none;
        display: inline-block;
        z-index: 5; }
        main .andamento-da-musica ul li a {
          background-color: #999;
          padding: 15px;
          margin: 0px 5px;
          text-decoration: none;
          color: #fff; }
          main .andamento-da-musica ul li a:hover {
            background-color: #ccc; }
  main .letra ul {
    padding: 0px; }
    main .letra ul li {
      display: flex;
      list-style: none;
      margin-bottom: 35px; }
      main .letra ul li .instrumentos {
        width: 200px; }
        main .letra ul li .instrumentos ul {
          background-color: #999;
          text-align: right; }
          main .letra ul li .instrumentos ul li {
            display: inline-block;
            margin: 5px; }
      main .letra ul li .estrofe {
        border: 1px solid #999;
        width: 600px;
        /* Indicador do Parte da Musica usado para escrever o andamento da musica. Exemplo: Parte A da Musica, Parte B da Musica. */ }
        main .letra ul li .estrofe.active {
          background-color: #ccc;
          border: 1px solid #ccc; }
        main .letra ul li .estrofe::before {
          content: "A";
          position: relative;
          top: 9px;
          right: -568px;
          background-color: #111;
          color: #fff;
          padding: 10px; }
        main .letra ul li .estrofe pre {
          padding: 10px 10%; }

aside {
  grid-area: sidebar;
  display: none; }

footer {
  grid-area: footer;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  background-color: #ccc; }

/*# sourceMappingURL=style.css.map */
